<h2>変動費科目の詳細</h2>
<%= link_to "編集", edit_variablecost_path(@variablecost.id)%>
<%= link_to "収入科目一覧へ戻る", variablecosts_path, method: :get %>
<table>
  <tr>
    <th>名称</th>
    <td><%= @variablecost.subject %></td>
  </tr>
  <tr>
    <th>説明</th>
    <td><%= @variablecost.remark %></td>
  </tr>
</table>